.col-md-10 {
    padding-left: 0px !important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem 1.25rem 0rem 0.5rem;
}

.card {
    border-top: 0px solid!important;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #6c757d;
}

.legend {
    width: 120px !important;
    font-size: 0.9rem !important;
    color: rgba(107, 114, 128, 1);
    font-weight: bolder;
}

.text-legend-transportador {
    width: 255px !important;
    font-size: 0.9rem !important;
    color: rgba(107, 114, 128, 1);
    font-weight: bolder;
}

.text-legend {
    color: #495057;
}

.boder-1 {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

@media (max-width: 768px) {
  .mobil {
    margin-left: 0px !important;
    margin-top: 0.5rem;
  }
}
